
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:300,400,700');

/*globals*/
p {
  font-family: 'Raleway', sans-serif;
}
.orange-text {
  color: #F8512F;
}
.orange-background{
  background-color: #F8512F;
}
.text-shadow {
  text-shadow: 2px 2px #333;
}
/*Header Styles*/
.navbar {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav>li>a  {
  color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,.45);
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #F8512F;
}
/*carousel Styles */
.item {
  height: 425px;
  background-position: center;
  background-size: cover;
}
#wood-background{
  background-image: url('../img/wood-2.jpg');
}
#restaurante-img {
  height: 250px;
  transform: translateY(35%);
}
#seating-background {
  background-image: url('../img/restaurant-2.jpg');
}
#farm-background {
  background-image: url('../img/farm-2.jpg');
}
.carousel-caption {
  margin-bottom: 8%;
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  background-color: #d34326;
  border-color: #d34326;
}
.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}
/*Our Story Section*/
#story {
  padding-top: 5%;
  margin-bottom: 9%;
}

#story h1.orange-text {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  margin-bottom: 0px;
  margin-top: 12%;

}
#story h1.orange-text~p {
  font-size: 1.4em;
  font-weight: 600;
}
.year-text {
  position: absolute;
  color: rgba(0, 0, 0, .1);
  font-size: 10em;
  font-family: 'Playfair Display',cursive;
  z-index: 0;
}

.year-text~p {
  font-weight: 300;
  line-height: 18px;
}

#review {
  background-image: url('../img/food_review.jpg');
  background-attachment: fixed;
  height: 425px;
  background-size: cover;
  background-position: center;
  padding-top: 6%;
}
.review-background {
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 4px;
}
#review h1 {
  font-family: 'Lobster', cursive;
  font-size: 54px;
}
#review p {
  color: #fff;
  font-size: 20px;
}
